html {
    box-sizing: border-box;
    padding: 0px;
}

body {
    background-color: oklch(21% 0.034 264.665);
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: oklch(92.8% 0.006 264.531);

}

h1 {
    letter-spacing: 1px;
    font-size: calc(20px + 1.2vw);
    text-align: center;
    color: oklch(92.8% 0.006 264.531);
    width: auto;
    padding: calc(5px + 1vw);
    margin: -8px -8px 4px -8px;
}

.h1-extra {
    letter-spacing: normal;
    margin-top: 4px;
    font-size: calc(15px + 0.5vw);
}

.recipe-list {
    align-self: stretch;
    display: flex;
    flex: auto;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
}

.li {
    padding: 0px;
    flex: auto;
}

.recipe-button {
    background-color: oklch(44.8% 0.119 151.328);
    border-radius: 25px;
    border:none;
    padding: 12px;
}