html {
    box-sizing: border-box;
    padding: 0px;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
}

body {
    display: flex;
    flex-direction: column;
    flex: auto;
    width: clamp(100vw, 100vw, 100vw);
    height: clamp(100vh, 100vh, 100vh);
    margin: 0px;
    background-color: oklch(21% 0.034 264.665);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: oklch(92.8% 0.006 264.531);
    width: 100%;
    height: 100%;
}

h1 {
    width: auto;
    padding: calc(5px + 1vw);
    margin: 5px 0px;
    font-size: calc(20px + 1.2vw);
    text-align: center;
    letter-spacing: 1px;
    color: oklch(92.8% 0.006 264.531);
}


p.h1-extra {
    margin: 0px;
    font-size: calc(15px + 0.5vw);
    letter-spacing: normal;
}

.recipe-list {
    display: flex;
    flex-direction: column;
    width: calc(150px + 15vw);
    height: calc(150px + 15vw);
    padding: 0;
    border: 1px hsl(0, 0%, 55%) dotted;
    margin: auto;
    list-style-type: none;
}

li {
    display: flex;
    flex-direction: column;
    flex: auto;
    padding: 0px;
}

.recipe-button {
    flex: auto;
    padding: 0px;
    border: .5px hsl(0, 0%, 20%) solid;
    background-color: oklch(27.8% 0.033 256.848);
}


h2 {
    color: oklch(92.8% 0.006 264.531);
}

.description,
.ingredients,
.steps {
    color: oklch(92.8% 0.006 264.531);
}


.recipe-button:hover {
    border: 1.5px hsl(0, 16%, 88%) solid;
}