html {
    box-sizing: border-box;
    padding: 0px;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    align-items: stretch;
}

body {
    background-color: oklch(21% 0.034 264.665);
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    flex: auto;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: oklch(92.8% 0.006 264.531);

}

h1 {
    letter-spacing: 1px;
    font-size: calc(20px + 1.2vw);
    text-align: center;
    color: oklch(92.8% 0.006 264.531);
    width: auto;
    padding: calc(5px + 1vw);
    margin: 5px 0px;
}


p.h1-extra {
    letter-spacing: normal;
    margin: 0px;
    font-size: calc(15px + 0.5vw);
}

.recipe-list {
    margin: auto 0px;
    align-self: center;
    display: flex;
    width: calc(150px + 15vw);
    height: calc(150px + 15vw);
    flex-direction: column;
    text-align: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    max-width: 100vw;
    border: 1px hsl(0, 0%, 55%) dotted;
}

li {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: auto;
    align-self: stretch;
}

.recipe-button {
    flex: auto;
    background-color: oklch(27.8% 0.033 256.848);
    border: .5px hsl(0, 0%, 20%) solid;
    padding: 12px;
}